
# iOS
xcuserdata/
*.xcscmblueprint
*.xccheckoutPodfile.lock
*.xcworkspace
Podfile.lock
Pods/

# Android
.idea/
build/
release/
.gradle/
local.properties
/captures
.externalNativeBuild
*.iml

# Common
.DS_Store
